@font-face {
  font-family: Roboto;
  src: url(../public/fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto-light;
  src: url(../public/fonts/Roboto-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
  color: white;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #081420;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-box,
.Signup-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33vmax;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 1vmax 2vmax;
  border: 3px solid #ffffff6e;
}
.main .phone-cnt {
  display: flex;
  gap: 1vmax;
}
.main select {
  width: 30%;
  text-align: center;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
  color: black;
}
.main h2 {
  text-align: center;
  font-size: 3.2vmax;
}
.main .inp-cnt {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main input {
  width: 100%;
  padding: 1vmax 1.5vmax;
  border: none;
  border-bottom: 2px solid #ffffff6e;
  outline: none;
  border-radius: 10px;
  font-size: 1.2vmax;
}
.main input::placeholder {
  font-family: Roboto-light;
}
.main label {
  padding: 1vmax;
}
.main button {
  width: 100%;
  padding: 1vmax;
  margin-top: 2vmax;
  border: none;
  border-radius: 10px;
  background-color: #2eca34;
  font-size: 20px;
  cursor: pointer;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
.main button:hover {
  background-color: #239627;
}
.main a {
  margin-top: 2vmax;
  margin-bottom: 1vmax;
  text-decoration: none;
}
.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vmax;
}
.dashboard h1 {
  font-size: 4vmax;
}
.search-cnt {
  margin-top: 1vmax;
  display: flex;
  align-items: center;
  background-color: #384f6b;
  border-radius: 5px;
  padding: 0.5vmax 1vmax;
  gap: 1vmax;
  width: 40vmax;
}
.search-inp {
  padding: 0.5vmax 1vmax;
  border: none;
  font-size: 1.2vmax;
  background-color: #384f6b;
  border-left: 1px solid rgba(255, 255, 255, 0.711);
}
.search-inp::placeholder {
  color: white;
  font-family: roboto-light;
}
.todos {
  display: flex;
  flex-direction: column;
  gap: 2vmax;
}
.todo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2vmax;
}
.todo-box {
  width: 50vmax;
  padding: 1.5vmax 2vmax;
  background-color: #192431;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.41);
}
.title {
  font-size: 1.5vmax;
}
.time {
  font-size: 1vmax;
  color: #b9b9b9;
}
.delete,
.edit {
  display: flex;
  align-items: center;
  background-color: #8171e6;
  padding: 0.4vmax;
  border-radius: 100px;
  cursor: pointer;
}
.edit {
  background-color: #192431;
}
.add-task {
  display: flex;
  align-items: center;
  gap: 1vmax;
}
.add-task input::placeholder {
  font-family: roboto-light;
}
.add-task input {
  width: 40vmax;
  padding: 0.5vmax 1vmax;
  font-size: 1.5vmax;
  background-color: #192431;
  border: none;
  outline: none;
  border-radius: 5px;
  color: white;
}

.add-task button {
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 0.5vmax;
  font-size: 1.5vmax;
  background-color: #192431;
  border: none;
  outline: none;
}
input {
  color: black !important;
}
